@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    width: 100vw;
    height: 210vh;
    background-color: #EFEDD6;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 20px 20px;
}

.box{
    width: 400px;
    height: 250px;
    background-color: #4682B4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    border-radius: 30px;
    transition: .6s;
}



.box.hide {
    transform: translateX(-300%);
  }


@media (max-width: 420px){
    body h1{
        font-size: 20px;
    }
    .box{
        width: 350px;
        height: 300px;
        font-size: 19px;
    }
}

@media (max-width: 320px){
    body h1{
        font-size: 16px;
    }
    .box{
        height: 300px;
        width: 300px;
        font-size: 15px;
    }
    
}

