@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100%;
  height: 100vh;
  background: url(./Assests/bg.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
}

.wrapper {
  margin: 30px;
  padding: 20px;
  width: 350px;
  max-width: 350px;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

h4 {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
p {
  text-align: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  z-index: 10;
  width: 100%;
}

.inputForm div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input[type="email"],
input[type="password"] {
  min-width: 100%;
  padding: 5px;
  font-size: 18px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

input[type="submit"] {
  background-color: #000000;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5%;
  color: #fff;
}

@media (max-width: 400px) {
  h4 {
    font-size: 17px;
  }
}
