@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #333333;
    overflow-x: hidden;
    position: relative;
}

.icon {
    position: fixed;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    z-index: -20;
}

.home{
    left: 30px;
    bottom: 200px;
}

.about{
    left: 60px;
    bottom: 150px;
}

.contact{
    left: 90px;
    bottom: 100px;
}


.rotatingBall{
    width: 200px;
    height: 200px;
    background-color: #FF7979;
    position: fixed;
    left: -100px;
    top: -100px;
    border-radius: 50%;
    transition: .4s;
    z-index: 3;
}



.rotatingBall.show{
    transform: rotate(-90deg);
}

.fa-solid{
    cursor: pointer;
}

.fa-bars{
    color: #FFF;
    font-size: 30px;
    position: absolute;
    right: 40px;
    bottom: 35px;
}
.fa-xmark{
    color: #FFF;
    font-size: 30px;
    position: absolute;
    left: 40px;
    bottom: 35px;
}

.contentContainer{
    width: 100%;
    height: 120vh;
    background-color: #FFF;
    display: flex;
    transition: .4s;
    transform-origin: 0 0;
    padding: 100px 0;
    /* display: none; */
}

.contentContainer.rotate{
    transform: rotate(-33deg);
}


article{
    margin: auto;
    width: 1000px;
    background-color: #fff;
    /* height: ; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article p{
    margin: 20px 0;
    line-height: 20px;
}

.dogImage{
    width: 100%;
}


@media (max-width: 600px){
    .contentContainer.rotate{
        transform: rotate(-20deg);
    }
    .contentContainer{
        height: 150vh;
    }
    article{
        margin: 10px;
    }
    article h1{
        font-size: 16px;
    }
    article i{
        font-size: 10px;
    }
    article p{
        font-size: 12px;
        margin: 20px 0;
    }
}